


  .slots_container{
      position:relative;
      display:block;
   
      border:solid 4px black;
      overflow-y: hidden;
      background-color:#e9e5d9;
    }


  

  .slots_overlay {
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
   
    z-index:1;
  
    background-image: linear-gradient(
             rgba(0,0,0,0.6),
             rgba(255,255,255,0), 
             rgba(255,255,255,0.8), 
             rgba(255,255,255,0), 
             rgba(255,255,255,0), 
             rgba(255,255,255,0), 
             rgba(255,255,255,0), 
             rgba(255,255,255,0.6), 
             rgba(255,255,255,0), 
             rgba(0,0,0,0.7)
          );
  }
  
  .slot {
    position:relative;
    display:inline-block;
    height:100%;
    border-right:solid 5px rgb(121, 121, 121);  

  }
  
  
  .slot_line {
    position:absolute;
    top: 50%;
    width:100%;
    border-top:dashed 1px rgb(106, 106, 106);
  }


  .slot_image_container {
    /*border:1px solid green;*/

    

  }

  .slot_image_container img {
    display: block;
    width:70%;
    margin-left: auto;
    margin-right: auto;


    /*filter: blur(1px);*/
  }

  .blurdiv{
    filter: blur(1px);*

  }